{% extends "pages/abstract/default.html.twig" %}
{% block stylesheets_page_group %}
    <!-- Page-group-specific CSS asset bundle -->
    {{ assets.css('css/datatables') | raw }}
    
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("DASHBOARD") }}{% endblock %}
{% block page_description %}{% endblock %}

{% block body_matter %}
    <!-- Info boxes -->
        <div class='row'>
            <div class='col-md-12 regsevak_datatable' >
                <div id="widget-activities" class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-tasks fa-fw"></i> {{translate('Long Version', 2)}}</h3>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-default js-download-table">Download CSV</button>
                        </div>
                    </div>
                    <div class="box-body">
                        {{ venuelong.html | raw }}
                    </div>
                </div>
            </div>
        </div>     

        <div class='row'>
            <div class='col-md-7 cmreport_datatable' >
                <div id="widget-activities" class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-tasks fa-fw"></i> {{translate('Short Version', 2)}}</h3>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-default js-download-table">Download CSV</button>
                        </div>
                    </div>
                    <div class="box-body">
                        {{ venueshort.html | raw }}
                    </div>
                </div>
            </div>
            <div class='col-md-5 cmreport_datatable' >
                <div id="widget-activities" class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-tasks fa-fw"></i> {{translate('Short Table', 2)}}</h3>
                        <p>With customized column formatting for the Venue name</p>
                    </div>
                    <div class="box-body">
                        Short version of the datatable
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
{% endblock %}

{% block scripts_page %}
    <!-- Include page variables -->
    <script>
        {% include "components/page.js.twig" %}

            // Add user name
            page = $.extend(
                    true, // deep extend
                    {
                        "group_slug": "{{current_user.group.slug}}"
                    },
                    page
                    );
    </script>
    <!-- CM Template Include dtutilities JS -->
    {{ assets.js('js/dtutilities') | raw }}
    <!-- CM Template Include datatables JS -->
    {{ assets.js('js/datatables') | raw }}

    {{ venueshort.js | raw }}
    {{ venuelong.js | raw }}

{% endblock %}