<h4>{{row.Venue}} ({{row.VenueID}})</h4>
<a href='http://maps.google.com/?q={{row.StreetAddress}},{{row.State}} {{row.Zip}}'>{{row.StreetAddress}}</a><br>
<small>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>:
    <strong>{{row.StreetAddress}}</strong>,
    {{row.State}} {{row.Zip}}</br>
    {{row.Country}}
</small>